body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 138vh;
}

.loginForm{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
 width: 92%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 34px;
}


button {
    width: 22%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 47px;
    cursor: pointer;
    font-size: 16px;
}



button:hover {
    background-color: #218838;
}


header {
    background-color: #28a745;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.login-container, .home-container {
    display: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.product {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.product img {
    
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;

}

.billing {
    padding: 1em;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    text-align: center;
}
